<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Редактировать квоту</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Редактировать квоту для {{ company.name }} на сервере {{ server.name }}</h1>
    <form action="{{ url_for('edit_company', server_id=server.id, company_name=company.name) }}" method="post">
        <label>Выделенная квота (ГБ):</label>
        <input type="number" name="allocated_quota" value="{{ company.allocated_quota }}" required>
        <button type="submit">Сохранить</button>
    </form>
    <br>
    <a href="{{ url_for('edit_resources', server_id=server.id) }}">Назад</a>
</body>
</html>
